[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = git@github.com:choicky/LoveIt.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = git@github.com:choicky/hugo-theme-stack.git
